@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

body {
  margin: 0;
}
html,
body {
  height: 100%;
	overflow: hidden;
}
canvas {
  display: block;
}

tryingnew {
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Prata;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cash {
    color: black;
    margin-top: 30px;
    z-index: 9999; /* Set a high z-index value to ensure it appears over everything */
    position: fixed; /* Position the element relative to the viewport */
    top: 0; /* Position it at the top */
    left: 50%; /* Center it horizontally */
    transform: translateX(-50%); /* Center it precisely */
}
.flow {
  margin-top: 0;
  background: linear-gradient(98deg, #273128 -4.25%, #577e5b 135.4%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
special-box {
  border-radius: 25px;
  background: rgba(87, 117, 89, 0.85);
  padding: 20px; /* Optional: Add padding if needed */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
prompttext {
  color: rgba(59, 68, 60, 0.85);
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: EB Garamond;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}



.btn-2,
.btn-2 *,
.btn-2 :after,
.btn-2 :before,
.btn-2:after,
.btn-2:before {
  border: 0 solid;
  border-color: #535f53;
  box-sizing: border-box;
}
.btn-2 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #86A789;
  background-image: none;
  color: #263826;
  cursor: pointer;
font-family: 'EB Garamond';
font-size: 18px;
  font-weight: 900;
  line-height: 1.5;
  margin-right: 5px;
  justify-content: center;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
}

.btn-2:-moz-focusring {
  outline: auto;
}
.btn-2 svg {
  display: block;
  vertical-align: middle;
}
.btn-2 [hidden] {
  display: none;
}
.btn-2 {
  border-radius: 99rem;
  border-width: 2px;
  overflow: hidden;
  position: relative;
}
.btn-2 span {
  mix-blend-mode: difference;
}
.btn-2:before {
  aspect-ratio: 1;
  background: #263826;
  border-radius: 50%;
  content: "";
  left: -100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) scale(1);
  transform-origin: left center;
  transition: transform 0.6s ease;
  width: 100%;
}
.btn-2:hover:before {
  transform: translateY(-50%) scale(2);
}

#moving-yes {
  transition: transform 2s ease-in-out;
  /* Initial position for the moving element */
  transform: translateX(0);
}
